<a href="{{page.home}}"><img alt="{{page.school}} logo" src="{{site.baseurl}}/assets/img/{{page.logo}}" class="img-responsive center-block"></a>

<ul>
  <li><a href="{{site.baseurl}}/authors/faq/">Read the Author FAQ</a></li>
  <li><a href="https://dash.harvard.edu/handle/1/37363045/submit">Submit to DASH</a></li>
  <li><a href="https://dash.harvard.edu/handle/1/37363046/submit">Get A Waiver</a></li>
</ul>

{% for quote in page.quotes %}
  <section class="blurb">
    <h2 class="sr-only">Take Away {{ forloop.index }}</h2>
    <q>{{ quote }}</q>
  </section>
{% endfor %}
